.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: Clip;
}
.header {
  position: fixed;
  width: 100%;
  height: 8vh;
  display: block;
  border-bottom: 0.5px solid grey;
  z-index: 1;
  background-color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem
}
.header-name {
  font-size: 20px;  
}
.header-list {
  margin: 0;
  padding: 3vh 0;
}
.header-item {
  display: inline;
  padding: 0 2rem;
  font-size: 20px;
}

.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 42px #FE8DFF,
    0 0 82px #FE8DFF,
    0 0 92px #FE8DFF,
    0 0 102px #FE8DFF,
    0 0 151px #FE8DFF;
}

.home {
  background-color: black;
  height: 80vh;
  padding-top: 10rem;  
  display: flex;
  flex-direction: column;
  align-items: center;
}


.home-cubes {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
  height: 300px;
  width: 80vw;
}

.home-greet {
  color: white;
  font-size: 80px;
  width: 60vw;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #8eff8d,
    0 0 42px #8eff8d,
    0 0 82px #8eff8d,
    0 0 92px #8eff8d,
    0 0 102px #8eff8d,
    0 0 151px #8eff8d;
}

.cube-three-side:hover {
  cursor: grab;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.flicker-slow{
  animation: flicker 3s linear infinite;
}

.flicker-slower{
  animation: flicker 10s linear infinite;
}

@keyframes flicker {
	0%, 18.99%, 21%, 61.99%, 63%, 63.99%, 100% {
    opacity: .99;
		
	}
	19%, 20.99%, 62%, 62.99%, 64%, 68.99% {
		opacity: 0.4;
	}
}