.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: Clip;
}
.header {
  position: fixed;
  width: 100vw;
  height: auto;
  display: block;
  z-index: 1;
  background-color: black;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem;
  border-bottom: 2px solid #FE8DFF;
  box-shadow: 0px 0px 20px 5px #FE8DFF;
}

.header-name {
  font-size: 25px;
  letter-spacing: 2px;
  color: #FE8DFF;
  text-shadow:
    0 0 15px #fff;
}

.header-name:hover {
  
  text-shadow:
    0 0 15px #fff,
    0 0 30px #fff,
    0 0 45px #fff,
    0 0 65px #fff;
}

.header-list {
  margin: 0;
}

.header-item {
  display: inline;
  position: relative;
  padding: 0.5rem 2rem;
  margin: 0 2rem;
  font-size: 22px;
  letter-spacing: 2px;
  color: #FE8DFF;
}

.header-button:hover {
  color: black;
  background-color: #FE8DFF;
  box-shadow: 0 0 30px #FE8DFF;
  transition-delay: 0.25s;
}

.header-button:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #FE8DFF;
  border-left: 2px solid #FE8DFF;
  transition: 0.25s;
}

.header-button:hover:before {
  width: 90%;
  height: 90%;
}

.header-button:after {
  content: ' ';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #FE8DFF;
  border-right: 2px solid #FE8DFF;
  transition: 0.25s;
}

.header-button:hover:after{
  width: 90%;
  height: 90%;
}

.neon-pink {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #FE8DFF,
    0 0 42px #FE8DFF,
    0 0 82px #FE8DFF,
    0 0 92px #FE8DFF,
    0 0 102px #FE8DFF,
    0 0 151px #FE8DFF;
}

.home-background {
  background-color: black;
  height: 1100px;
  padding-top: 12rem; 
}
.home-container { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-cubes {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
  height: 300px;
  width: 80vw;
}

.home-greet {
  color: white;
  font-size: 80px;
  width: 60vw;
}

.neon-green {
  text-shadow:
    0 0 7px #fff,
    0 0 10px #8eff8d,
    0 0 42px #8eff8d,
    0 0 82px #8eff8d,
    0 0 92px #8eff8d,
    0 0 102px #8eff8d,
    0 0 151px #8eff8d;
}

.cube-three-side:hover {
  cursor: grab;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.invisible {
  opacity: 0;
}

.fade-out {
  animation: fade-in 1.5s reverse;
}

.visible-slow {
  animation: fade-in 1.5s;
}

.flicker-slow {
  animation: flicker 3s linear infinite;
}

.flicker-slower {
  animation: flicker 7s linear infinite;
}

.flicker-slowest {
  animation: flicker 10s linear infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flicker {
	0%, 18.99%, 21%, 61.99%, 63%, 63.99%, 100% {
    opacity: .99;
		
	}
	19%, 20.99%, 62%, 62.99%, 64%, 68.99% {
		opacity: 0.4;
	}
}

@keyframes flicker-on {
  0%, 18.99%, 21%, 61.99%, 63%, 63.99%, 100% {
    opacity: 0.4;
		
	}
	19%, 20.99%, 62%, 62.99%, 64%, 68.99% {
		opacity: 1;
	}
}

.section-heading {
  margin: 0 0 3rem 0;
  color: white;
  font-size: 80px;
  letter-spacing: 1px;
}

.about-container {
  background-color: black;
  height: 1100px;
  padding: 5rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-details {
  display: flex;
  width: 60vw;
  justify-content: space-around;
}

.neon-text-light-blue {
  color: #8D8EFF;
  text-shadow:
    0 0 20px #fff;
}

.neon-light-red {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #FF8D8E,
    0 0 42px #FF8D8E,
    0 0 82px #FF8D8E,
    0 0 92px #FF8D8E,
    0 0 102px #FF8D8E,
    0 0 151px #FF8D8E;
}

.neon-white {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 42px #fff,
    0 0 82px #fff,
    0 0 92px #fff,
    0 0 102px #fff,
    0 0 151px #fff;
}

.about-description {
  width: 500px;
}

.about-details-title {
  font-size: 30px;
  letter-spacing: 1px;
  margin: 2rem 0;
}

.about-description-text {
  color: white;
  font-size: 22px;
  letter-spacing: 0.5px;
  line-height: 22pt;
}

.about-text-ps {
  animation: flicker-on 7.5s linear infinite;
  text-shadow: 
    0 0 5px #8D8EFF,
    0 0 10px #8D8EFF,
    0 0 15px #8D8EFF,
    0 0 25px #8D8EFF,
    0 0 55px #8D8EFF,
    0 0 85px #8D8EFF;
}

.about-skills-container {
  display: flex;
  flex-direction: row;
  width: 300px;
  flex-wrap: wrap;
}

.skill-container {
  border: 2px solid #8D8EFF;
  box-shadow: 0px 0px 20px 5px #8D8EFF;
  height: 20px;
  padding: 0.7rem 1.5rem;
  border-radius: 20px;
  margin: 0.5rem;
}

.skill-text {
  font-size: 22px;
  letter-spacing: 1px;
  color: white;
}

.projects-container {
  height: 1000px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-display {
  margin: 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75vw;
  position: relative;
}

.project-card-title {
  font-size: 40px;
  letter-spacing: 1px;
  margin: 0;
}

.project-card {
  padding: 10rem 0;
  text-align: center;
  justify-content: center;
  width: 250px;
  height: auto;
  position: relative;
  border: 5px solid #8D8EFF;
  border-radius: 50px;
  box-shadow: 0px 0px 30px 5px #8D8EFF;
  z-index: 1;
}

.project-card:hover {
  box-shadow: 0px 0px 30px 15px #8D8EFF;
  transition: 0.5s;
}

.card-spin-horizontal {
  transition: 0.5s;
  animation: spin-horizontal 1s
}

@keyframes spin-horizontal {
  from {
      transform:rotateY(0deg);
  }
  to {
      transform:rotateY(360deg);
  }
}

.dance-details {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 370px;
  width: 800px;
}

.dance-text {
  color: white;
  font-size: 22px;
  letter-spacing: 0.5px;
  line-height: 22pt;
  width: 300px;
  padding: 0 30px;
}

.dance-design {
  position: relative;
  bottom: 10%;
  height: 600px;
}

.react-pdf__Page__canvas {
  height: 566px !important;
  width: 400px !important;
  animation: fade-in 1s;
}

.dance-design-text {
  height: auto;
  color: #FF8D8E;
  font-size: 22px;
}

.dance-design-button {
  color: #FF8D8E;
  display: inline;
  position: relative;
  font-size: 22px;
  letter-spacing: 1px;
  padding: 1rem 1.5rem;
  margin: 0 1rem;
}

.dance-design-button:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #FF8D8E;
  border-left: 2px solid #FF8D8E;
  transition: 0.25s;
}

.dance-design-button:after {
  content: ' ';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #FF8D8E;
  border-right: 2px solid #FF8D8E;
  transition: 0.25s;
}

.dance-design-bottom {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.dance-design-button:hover:before{
  width: 96%;
  height: 95%;
}

.dance-design-button:hover:after{
  width: 96%;
  height: 95%;
}

.dance-design-button:hover {
  color: black;
  background-color: #FF8D8E;
  box-shadow: 0 0 30px #FF8D8E;
  transition-delay: 0.25s;
}

.games-details {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 0;
  width: 50vw;
  height: 370px;
}

.games-text-container {
  display: flex;
  flex-direction: column;
}

.games-text {
  color: white;
  font-size: 22px;
  letter-spacing: 0.5px;
  line-height: 22pt;
  width: 400px;
}

.game-image {
  margin: -2px 0 0 0;
}

.game-image-display {
  height: 430px;
  width: 480px;
  overflow: hidden;
}

.repo-button {
  position: relative;
  text-align: center;
  padding: 0.5rem 1rem;
  margin: 20px 0;
  font-size: 25px;
  letter-spacing: 2px;
  color: #FF8D8E;
  width: 100px;
  z-index: 1;
}

.repo-button:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #FF8D8E;
  border-left: 2px solid #FF8D8E;
  transition: 0.25s;
}

.repo-button:after {
  content: ' ';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #FF8D8E;
  border-right: 2px solid #FF8D8E;
  transition: 0.25s;
}

.repo-button:hover:after{
  width: 97%;
  height: 95%;
}

.repo-button:hover:before {
  width: 97%;
  height: 95%;
}

.repo-button:hover {
  color: black;
  background-color: #FF8D8E;
  box-shadow: 0 0 30px #FF8D8E;
  transition-delay: 0.25s;
}

.website-details {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 99vw;
  height: 370px;
}

.website-text {
  color: white;
  font-size: 22px;
  letter-spacing: 0.5px;
  line-height: 22pt;
  width: 500px;
}

.website-image {
  height: 350px;
  width: calc(400px + 8vw);
}

.laptop-padding {
  padding: 50px 0px;
}

.website-description {
  padding: 0 0 0 120px;
}

@media only screen and (max-width: 2050px) {
  .dance-text {
    margin: 0 0 0 100px;
  }
}

@media only screen and (max-width: 1600px) {
  .react-pdf__Page__canvas {
    padding: 70px 0 0 0;
    height: 550px !important;
    width: 360px !important;
  }

  .dance-text {
    min-width: 300px;
    padding: 0 30px;
    margin: 0 0 0 180px;
  }

  .website-description {
    padding: 0 0 0 250px;
  }

  .website-text {
    width: 400px;
  }
}

@media only screen and (max-width: 1470px) {
  .react-pdf__Page__canvas {
    height: 550px !important;
    width: 360px !important;
  }

  .dance-design-bottom {
    padding: 2rem 0;
    width: 375px;
  }

  .projects-container {
    height: 2100px;
  }

  .website-image {
    padding: 100px 50px 0 0;
    width: 500px;
  }

  .home-name {
    font-size: 70px;
  }
}

.project-row {
  height: 600px;
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 100px 0;
}

.project-row-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.project-text {
  color: white;
  font-size: 22px;
  width: 300px;
  letter-spacing: 0.5px;
  line-height: 22pt;
}

.menu-icon {
  filter: invert(60%);
  height: 40px;
  width: 40px;
}

.menu-icon:hover {
  filter: invert(100%);
}

@media only screen and (max-width: 1060px) {
  .home-container {
    height: 1050px;
  }

  .home-background {
    padding-top: 6rem; 
  }

  .about-description-text {
    width: 280px;
  }

  .about-container {
    padding: 10rem 0 0 0;
    height: 1000px;
  }

  .projects-container {
    height: 2700px;
    padding: 130px 0 0 0;
    justify-content: center;
  }
  .project-text {
    padding: 0 0 40px 0;
  }

  .website-image {
    padding: 0px;
  }

  .react-pdf__Page {
    height: 630px;
  }

  .react-pdf__Page__annotations {
    margin: 0;
    width: 0 !important;
    height: 0 !important;
}
}

.mobile-padding {
  padding: 60px 0px;
}


.home-name {
  font-size: 60px;
}

.home-detail {
  font-size: 40px;
}

.home-hi {
  font-size: 80px;
}

@media only screen and (max-width: 600px) {
  .home-background {
    padding-top: 4rem;
  }

  .projects-container {
    height: 2500px;
    padding: 12 0px 0 0 0;
    justify-content: center;
  }

  .home-hi {
    font-size: 120px;
  }

  .mobile-padding {
    padding: 50px 0;
  }

  .about-description {
    width: 250px;
  }

  .about-details {
    flex-direction: column;
  }

  .about-container {
    height: 1300px;
  }

  .section-heading {
    font-size: 60px;
  }

  .website-image {
    height: 250px;
    width: calc(300px + 8vw);
  }

  .game-image-display {
    height: 313px;
    width: 350px;
    overflow: hidden;
  }
  
  .react-pdf__Page__canvas {
    height: 533.75px !important;
    width: 350px !important;
  }
}

.menu-dropdown {
  position: relative;
}

.menu {
  position: absolute;
  padding: 0;
  height: 40px;
  left: -20px;
}

.menu-item {
  margin: 0;
  color: #FE8DFF;
  width: 100%;
  height: 100%;
  font-size: 25px;
  text-align: center;
  background-color: black;
  text-shadow:
    0 0 7px #fff;
    animation: fade-in 1s;
}

.menu-item:hover {
  text-shadow:
    0 0 42px #fff,
    0 0 82px #fff,
    0 0 92px #fff,
    0 0 102px #fff,
    0 0 151px #fff;
}

.menu-item::marker {
  opacity: 0;
}

.projects-column {
  display: flex;
  flex-direction: column;
}

